<configuration>
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <tagEncoder>
      <pattern>%logger{40}:%-3L</pattern>
    </tagEncoder>
    <encoder>
      <pattern>[%thread] %msg</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
  </root>
</configuration>